dist/
build/
lib/
out/
coverage/

node_modules/
.pnpm-store/

*.generated.ts
*.generated.js
*.d.ts

vendor/

package-lock.json
pnpm-lock.yaml
yarn.lock

tsconfig.json
jest.config.ts

.replit
.cache/
.config/
.local/
.upm/

.devcontainer/
.githubworkspace

.git/
.github/

logs/
*.log

.env*

.tmp/
tmp/
temp/
*.tmp